
<div #modal class="modal fade" tabindex="-1" id="modalRegistrarProfesor" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary">Registrar Alumno</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="cursoFormulario">
          <div class="mb-3">
            <label class="form-label fw-semibold">Ingresar Nombres</label>
            <input type="text" class="form-control form-control-sm" formControlName="nombre" placeholder="Maria">
          </div>

          <div class="mb-3">
            <label class="form-label fw-semibold">Ingresar DNI</label>
            <input type="text" class="form-control form-control-sm" formControlName="dni" placeholder="12345678">
          </div>

          <div class="mb-3">
            <label class="form-label fw-semibold">Ingresar correo</label>
            <input type="email" class="form-control form-control-sm" formControlName="correo" placeholder="maria@universidad.com">
          </div>
         
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary btn-sm" (click)="guardarCambios()">Registrar</button>
      </div>
    </div>
  </div>
</div>