
.titulo{
font-family: 'Playwrite NO', sans-serif;
}

.navbar-nav .nav-link {
  position: relative;
  color: inherit;
  text-decoration: none;
}

.navbar-nav .nav-link::after {
  content: '';
  display: block;
  height: 1px;
  margin-top: 5px;
  width: 100%;
  background: #fff;
  opacity: 0;              
  transition: opacity 0.3s ease; 
}

.navbar-nav .nav-link:hover::after {
  opacity: 1;     
}
.icono{
  font-size: 23px;
}
