<nav class="navbar navbar-expand-lg  gradient-box w-100 border-bottom border-dark-subtle">
  <div class="container-fluid">
    <a class="navbar-brand ms-4 titulo" routerLink="/dashboard">Mi Aula Virtual</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link me-2" routerLink="/dashboard" routerLinkActive="active">
            <i class="bi bi-question-circle me-2 icono"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link  me-2" routerLink="/cursos" routerLinkActive="active">
            <i class="bi bi-envelope me-2 icono"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-2" routerLink="/profesores" routerLinkActive="active">
            <i class="bi bi-bell me-2 icono"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-2 text-danger" routerLink="" routerLinkActive="active">
            <i class="bi bi-box-arrow-down me-2 icono "></i>Cerrar Sesion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
