.gradient-box{
    background: linear-gradient(to left, #8E2699, #7D4ACB);
}

.navbar-nav .nav-link {
  position: relative;
  color: inherit;
  text-decoration: none;
}

.navbar-nav .nav-link::after {
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  background: #fff;
  opacity: 0;              
  transition: opacity 0.3s ease; 
}

.navbar-nav .nav-link:hover::after {
  opacity: 1;     
}
