@if (usuario$ | async; as usuario) {

<div class="container">
  <div class="column d-flex justify-content-between mt-3">
    <h4 class="fw-semibold">Alumnos Matriculados</h4>

    @if (usuario.rol === 'ADMINISTRADOR') {
    <button class="btn btn-outline-primary" (click)="abrirModal()">
      <i class="bi bi-plus me-2"></i>Registrar Alumno
    </button>
    }
  </div>

  <div class="mt-3">
    <table class="table table-striped">
      <thead>
        <tr class="text-center">
          <th scope="col">Codigo</th>
          <th scope="col">Nombre</th>
          <th scope="col">DNI</th>
          <th scope="col">Correo Electronico</th>
          <th scope="col">Ciclo</th>
          @if (usuario.rol === 'ADMINISTRADOR') {
          <th scope="col">Acciones</th>
          }
        </tr>
      </thead>
      <tbody>
        @for (estudiante of estudiantes; track estudiante.id) {
        <tr class="text-center">
          <th scope="row">{{estudiante.id}}</th>
          <td>{{estudiante.nombre}} {{estudiante.apellidos}}</td>
          <td>{{estudiante.dni}}</td>
          <td>{{estudiante.correo}}</td>
          <td>{{estudiante.clase.periodo}}</td>
          @if (usuario.rol === 'ADMINISTRADOR') {
          <td>
            <div>
              <button class="btn btn-warning btn-sm me-4" (click)="abrirModalEdicion(estudiante)">
                <i class="bi bi-pencil me-2"></i>Editar
              </button>
              <button class="btn btn-danger btn-sm">
                <i class="bi bi-x-circle me-2"></i>Deshabilitar
              </button>
            </div>
          </td>}
        </tr>
        }
      </tbody>
    </table>
  </div>

  <app-modal-registrar-estudiante></app-modal-registrar-estudiante>
  <app-modal-editar-estudiante></app-modal-editar-estudiante>

</div>

}