
.layout-container {
  display: flex;
  height: 100vh;          
  overflow: hidden;  
  background-color: #151134;   

}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-bottom-left-radius: 35px;
  border-top-left-radius: 35px;
  background-color: white;
}

.navbar {
  flex-shrink: 0;
}

.page-container {
  flex-grow: 1;
  overflow-y: auto;       
  padding: 1rem;
  background-color: #f1f1f1;
}
