@if (usuario$ | async; as usuario) {

<nav class="d-flex flex-column text-light col-xl-2 p-3 sidebar">

  <div class="d-flex flex-column justify-content-center align-items-center border-bottom">
    <img src="avatar.png" alt="Logo" class="logo p-2 rounded-circle">

    <p class="correo">{{ usuario.correo }}</p>
  </div>

  <div class="nav flex-column d-flex align-items-center mt-4">

    <a routerLink="/dashboard" routerLinkActive="active" class="sidebar-link text-decoration-none p-2 mb-3"><i class="bi bi-people me-2"></i><span>Dashboard</span></a>
    
    <a routerLink="/cursos" routerLinkActive="active" class="sidebar-link text-decoration-none p-2 mb-3"><i class="bi bi-journal-text me-2"></i><span>
      {{ ( usuario.rol === 'ESTUDIANTE') ? 'Mis Cursos' : 'Cursos' }}
    </span></a>

    @if (usuario.rol === 'ADMINISTRADOR') {
      <a routerLink="/profesores" routerLinkActive="active" class="sidebar-link text-decoration-none p-2 mb-3"><i class="bi bi-calendar-check me-2"></i><span>Profesores</span></a>
    }

    @if (usuario.rol === 'ADMINISTRADOR' || usuario.rol === 'PROFESOR') {
      <a routerLink="/alumnos" routerLinkActive="active" class="sidebar-link text-decoration-none p-2 mb-3"> <i class="bi bi-calendar-check me-2"></i><span>Alumnos</span></a>
    }

  </div>

</nav>

}
